<main>
  <div class='flex justify-between items-center'>
    <div class='flex flex-col gap-8'>
      <h1 class='text-4xl lg:text-5xl font-semibold'>Hola, soy <strong>Nicolás Agüero</strong></h1>
      <span class='text-3xl lg:text-4xl font-medium text-primary'>Full Stack developer</span>
      <p class='max-w-[480px] lg:max-w-[520px] max-lg:pe-6 text-lg lg:text-xl'>
        Más de 4 años de experiencia personal en desarrollo y diseño web,
        complementado con otros conocimientos relacionados.
      </p>
      <button class='w-fit flex justify-center items-center gap-4 bg-primary rounded-full px-6 py-2'>
        <img class='w-6 lg:w-7' src="/icons/message-icon.svg" alt="sobre icono">
        <span class='font-medium text-lg lg:text-xl'>
          Trabajemos juntos
        </span>
      </button>
    </div>
    <div class='relative'>
      <img class='relative w-[240px] lg:w-[280px] z-20' src='/illustrations/me-emoji-header.png' alt='Nicolas Aguero avatar'/>
      <img class='absolute top-8 bottom-0 left-0 right-0 m-auto w-[220px] lg:w-[260px] z-10' src='/illustrations/blob-1.svg' alt='blob' />
    </div>
  </div>
</main>
