<main class='flex max-[860px]:flex-col-reverse gap-y-10 justify-between items-center'>
  <div class='flex flex-col gap-8'>
    <h1 class='max-[350px]:text-2xl text-3xl sm:text-4xl lg:text-5xl font-semibold'>Hola, soy <strong>Nicolás Agüero</strong></h1>
    <div class='flex items-center'>
      <span id='element-typed' class='max-[350px]:text-xl text-2xl sm:text-3xl lg:text-4xl font-medium text-primary whitespace-nowrap h-fit'></span>
    </div>
    <p class='max-[350px]:w-full max-[350px]:text-sm sm:max-w-[480px] lg:max-w-[520px] pe-0lg:pe-6 text-base sm:text-lg lg:text-xl text-pretty'>
      Más de 4 años de experiencia personal en desarrollo y diseño web,
      complementado con otros conocimientos relacionados.
    </p>
    <a href='mailto:aguero.nicolas2003@gmail.com' class='max-[350px]:w-full w-fit flex justify-center items-center gap-4 bg-primary rounded-full px-6 py-2'>
      <img class='max-[350px]:hidden w-6 lg:w-7' src="/icons/message-icon.svg" alt="sobre icono">
      <span class='font-medium max-[350px]:text-sm text-base sm:text-lg'>
        Trabajemos juntos
      </span>
    </a>
  </div>
  <div class='relative'>
    <img class='relative max-[350px]:w-[90%] w-[240px] lg:w-[280px] z-20' src='/illustrations/me-emoji-header.png' alt='Nicolas Aguero avatar'/>
    <img class='absolute top-8 bottom-0 left-0 right-0 m-auto max-[350px]:w-[90%] w-[220px] lg:w-[260px] z-10' src='/illustrations/blob-1.svg' alt='blob' />
  </div>
</main>

<style is:global>
  .typed-cursor {
    font-size: 30px !important;
    color: #6167FF;
  }
</style>

<script is:inline src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script is:inline>
  new Typed('#element-typed', {
    strings: ['Desarrollador Full Stack', 'Diseñador web'],
    typeSpeed: 50,
    backSpeed: 50,
    smartBackspace: true,
    backDelay: 1000,
    loop: true,
  })
</script>