---
const { imgSrc, imgAlt, title, category } = Astro.props.skill
---

<div class='swiper-slide'>
  <div
    class='skill size-[165px] sm:size-[180px] flex flex-col items-center justify-center gap-4 border-2 border-primary rounded-full m-auto'>
    <img class='size-[60px] sm:size-[70px]' src={imgSrc} alt={imgAlt} />
    <div class='flex flex-col items-center'>
      <span class='font-semibold text-lg sm:text-xl'>{title}</span>
      <small class='text-sm text-gray-400'>{category}</small>
    </div>
  </div>
</div>
