---
import SliderSkills from './SliderSkills.astro'
---

<section id='skills' class='mb-8 flex flex-col gap-8 pt-10'>
  <h2 class='font-semibold text-2xl sm:text-3xl lg:text-4xl'>Mis habilidades</h2>
  <SliderSkills />
</section>