---
import Nav from './nav/Nav.astro'
---

<header class='flex justify-between items-center gap-4'>
  <a href="/">
    <span class='hidden'>logo</span>
    <img class='w-[50px]' src="/icons/logo-na.svg" alt="Nicolas Aguero logo">
  </a>
  <Nav />
</header>
