---
import ProjectCard from "./ProjectCard.astro"
import { projects } from "./projectsData"
---

<section id='projects' class='pt-10'>
    <div class='flex flex-col gap-8'>
      <h2 class='font-semibold text-2xl sm:text-3xl lg:text-4xl'>Mis proyectos</h2>
      <div class='flex flex-wrap justify-center gap-8'>
        {
          projects.map(project => (            
            <ProjectCard project={project} />
          ))
        }
      </div>
    </div>
</section>

<script is:inline>
  document.querySelectorAll('.custom-scroll').forEach(element => {
    element.addEventListener('wheel', (e) => {
      console.log(e.deltaY)
      element.scrollLeft += e.deltaY
    })
  })
</script>