---
import Header from '../components/header/Header.astro'
import Footer from '../components/footer/Footer.astro'
import SocialItem from '../components/items/SocialItem.astro'
import '@fontsource/poppins'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Nicolás Agüero. Desarrollador Full Stack y diseñador web." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>Nicolas Aguero - Portfolio</title>
	</head>
	<body class='bg-bckgDark flex flex-col px-10'>
    <Header />
    <SocialItem />
    <div class='flex flex-col gap-24'>
      <slot />
    </div>
    <Footer />
    <img class='max-[850px]:hidden absolute top-0 left-0 w-[200vw] max-h-[600vh] -z-10' src="/illustrations/flashes-bckg.png" alt="destello illustración">
    <img class='min-[850px]:hidden absolute top-0 left-0 w-[200vw] max-h-[1100vh] -z-10' src="/illustrations/flashes-bckg-mobile.png" alt="destello illustración">
	</body>
</html>

<style>
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  html::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #6166ff49;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #6167FF;
    border-radius: 100px;
  }

  body {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
</style>
